openapi: 3.1.0

info:
  title: RepoReconnoiter API
  version: 1.0.0
  description: |
    REST API for RepoReconnoiter - AI-powered GitHub repository comparison and discovery platform.

    ## Features
    - Search and filter repository comparisons
    - AI-generated repository recommendations
    - Category-based browsing

    ## Authentication

    **Two-level authentication system:**

    ### 1. App-Level Authentication (Required for all endpoints)
    - **API Key:** Add `Authorization: Bearer <API_KEY>` header to all requests
    - **Purpose:** Proves request is from an authorized application
    - **Server-side only** - never expose key in browser/client code
    - Contact admin to obtain a 64-character API key
    - Keys can be revoked without code changes
    - Usage is tracked for analytics

    ### 2. User-Level Authentication (Required for user-specific endpoints)
    - **JWT Token:** Add `X-User-Token: <JWT>` header for user-authenticated endpoints
    - **Purpose:** Proves which user is making the request
    - **How to get JWT:** Call `/api/v1/auth/exchange` with GitHub OAuth token
    - JWT expires after 24 hours (refresh by exchanging GitHub token again)

    ### Authentication Flow
    1. User authenticates with GitHub OAuth (handled by your frontend)
    2. Frontend exchanges GitHub token for JWT via `/api/v1/auth/exchange`
    3. Frontend includes both API key + JWT in subsequent requests

    ### Public Endpoints (No Authentication)
    - `/api/v1` - API root (discovery endpoint)
    - `/api/v1/openapi.json` - OpenAPI JSON specification
    - `/api/v1/openapi.yml` - OpenAPI YAML specification

    ### Rate Limiting
    - Without valid API key: **Requests will be rejected with 401 Unauthorized**
    - With valid API key: **Unlimited** requests (no rate limiting)

  contact:
    name: API Support
    url: https://reporeconnoiter.com
  license:
    name: MIT

servers:
  - url: https://reporeconnoiter.com/api/v1
    description: Production server
  - url: http://localhost:3001/api/v1
    description: Local development server

tags:
  - name: Authentication
    description: User authentication and JWT token management
  - name: Comparisons
    description: Repository comparison operations

paths:
  /auth/exchange:
    $ref: './paths/auth.yml'
  /comparisons:
    $ref: './paths/comparisons.yml'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: |
        API key authentication for trusted clients (server-side only).

        **How to use:**
        1. Contact admin to obtain a 64-character API key
        2. Add to `Authorization` header: `Bearer <API_KEY>`
        3. **Server-side only** - never expose in browser/client code

        **Benefits:**
        - Bypasses rate limits (100/hour → unlimited)
        - Usage tracking and analytics
        - Revocable without code changes

        **Example:**
        ```
        Authorization: Bearer 266eda3d711399ca87ab19dfbebff1ad2430d7b374a50577eea057de1ad0224a
        ```

  schemas:
    Comparison:
      $ref: './schemas/Comparison.yml'
    Category:
      $ref: './schemas/Category.yml'
    Repository:
      $ref: './schemas/Repository.yml'
    PaginationMeta:
      $ref: './schemas/PaginationMeta.yml'
    Error:
      $ref: './schemas/Error.yml'
