openapi: 3.0.3

info:
  title: RepoReconnoiter API
  version: 1.0.0
  description: |
    REST API for RepoReconnoiter - AI-powered GitHub repository comparison and discovery platform.

    ## Features
    - Search and filter repository comparisons
    - AI-generated repository recommendations
    - Category-based browsing

    ## Authentication

    **All API endpoints require authentication** via API key.

    ### API Key Authentication (Required)
    - Add `Authorization: Bearer <API_KEY>` header to all requests
    - **Server-side only** - never expose key in browser/client code
    - Contact admin to obtain a 64-character API key
    - Keys can be revoked without code changes
    - Usage is tracked for analytics

    ### Public Endpoints (No Authentication)
    - `/api/v1` - API root (discovery endpoint)
    - `/api/v1/openapi.json` - OpenAPI JSON specification
    - `/api/v1/openapi.yml` - OpenAPI YAML specification

    ### Rate Limiting

    API key authentication bypasses Rack::Attack rate limits:
    - Without valid API key: **Requests will be rejected with 401 Unauthorized**
    - With valid API key: **Unlimited** requests (no rate limiting)

  contact:
    name: API Support
    url: https://reporeconnoiter.com
  license:
    name: MIT

servers:
  - url: https://reporeconnoiter.com/api/v1
    description: Production server
  - url: http://localhost:3000/api/v1
    description: Local development server

tags:
  - name: Comparisons
    description: Repository comparison operations

paths:
  /comparisons:
    $ref: './paths/comparisons.yml'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: |
        API key authentication for trusted clients (server-side only).

        **How to use:**
        1. Contact admin to obtain a 64-character API key
        2. Add to `Authorization` header: `Bearer <API_KEY>`
        3. **Server-side only** - never expose in browser/client code

        **Benefits:**
        - Bypasses rate limits (100/hour → unlimited)
        - Usage tracking and analytics
        - Revocable without code changes

        **Example:**
        ```
        Authorization: Bearer 266eda3d711399ca87ab19dfbebff1ad2430d7b374a50577eea057de1ad0224a
        ```

  schemas:
    Comparison:
      $ref: './schemas/Comparison.yml'
    Category:
      $ref: './schemas/Category.yml'
    Repository:
      $ref: './schemas/Repository.yml'
    PaginationMeta:
      $ref: './schemas/PaginationMeta.yml'
    Error:
      $ref: './schemas/Error.yml'
